[user]
	email = guibellotti@hotmail.com
	name = Guilherme Bellotti

[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global

[alias]
	ci = "!f() { git commit -m \"$*\"; }; f"
	pom = push -u origin main
	start = "!f() { git remote add origin \"$*\"; }; f"
